.interaction1 {
    cursor: pointer;
}

.interaction1:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
} 

.interaction2 {
    cursor: pointer;
}

.interaction2:hover {
    background-color: #e8f5fe;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}
