.Post {
    background-color: whitesmoke;
}

.UserInfo {
    border: solid green;
    position: absolute;
    width: 100px;
    margin-left: 20px;
    background-color: white;
}

.Interactions {
    text-align: left;
    margin-left: auto;
}

.Photos {
    border: solid green;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: auto;
}

.Images {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.TextContent {
    border: solid green;
    padding: 50px;
    margin: 20px; 
    margin-left: 200px;
    text-align: center;

    
}

#line {
    height: 100%;
}

.Profile {
    text-align: left;
}

.Content {
    text-align: left;
}

.Avatar {
    margin-top: 10px;
    margin-left: 10px;
}

.UserInfo-name, .Feed-name {
    margin-left: 25px;
    margin-bottom: 10px;
}

